body{
    background: -webkit-linear-gradient(#f78f8f,rgb(255, 255, 255));
    background-repeat: no-repeat; 
}

.d{
    display: flex;
    position: sticky;
}
.d1{
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    margin: 7px;
    padding: 5px;
    border-style: solid;
    width: fit-content;
      
}
b{
    margin: 10px;
}
.d1:hover{
    background-color: white;
    color: black;
}

button{
    background-color: black;
    color: white;
    margin: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    padding: 3px;
}
#d11{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    background-color: black;
}